.BodyStyle {
    background-color: rgb(230, 230, 230);
}

.ColumnHeaderCell {
    background-color: gray;
    border: 1px solid gray;
    height: 2em;
    text-align: center;
}

.ColumnBodyCell {
    border: 1px solid gray;
    width: 4em;
    height: 2em;
    text-align: center;
}

.MainContainer {
    margin: 5px 5px 5px 5px;
}

.HomePageWelcomeText {
    text-align: center;
}

.AppName {
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 5em;
}

.PageContainer {
    float: left;
    margin-left: 1em;
    margin-top: 2em;
}

.nav nav-pills {
    margin-top: 2em;
}

.NavItem {
    margin-left: 1em;
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    text-decoration-color: black;
    width: 10em;
    height: 2em;
}

.NavItemLink {
    color: black;
}

.TableList {
    margin-left: 10em;
    margin-top: 10em;
    padding-left: 10em;
    height: 100%;
    width: 5px;
}

.QueryPageContainer {
    float: left;
    margin-left: 1em;
    margin-top: 2em;
}

.QueryArea {
    width: 50em;
    height: 10em;
}

.AlertInfo {
    margin-top: 1em;
    text-align: center;
    width: 50%;
    margin-left: 1em;
    height: 2em;
    background-color: lightgreen;
    border-radius: 3px;
}

.AlertError {
    margin-top: 1em;
    text-align: center;
    width: 50%;
    margin-left: 1em;
    height: 2em;
    background-color: lightcoral;
    border-radius: 3px;
}