li {
    list-style-type: none;
}

tbody {
    width: 100%;
}

.BodyStyle {
    background-color: rgb(230, 230, 230);
}

.ColumnHeaderCell {
    background-color: gray;
    border: 1px solid gray;
    text-align: center;
}

.ColumnBodyCell {
    border: 1px solid gray;
    text-align: center;
}

.MainContainer {
    margin: 5px 5px 5px 5px;
}

.HomePageWelcomeText {
    text-align: center; 
}

#AppName {
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
}

.PageContainer {
    float: left;
    margin-left: 1em;
    margin-top: 2em;
}

.nav nav-pills {
    margin-top: 2em;
    width: 100%;
}

.NavItem {
    margin-left: 1%;
    margin-top: 1em;
    text-align: center;
    width: 19%;
    height: 2em;
    background-color: white;
    border-radius: 3em;
}

.NavItemLink {
    color: black;
}

.TableList {
    margin-left: 10em;
    margin-top: 10em;
    padding-left: 10em;
    height: 100%;
    width: 5px;
}

#QueryPageContainer {
    margin-top: 2em;
}

#QueryArea {
    margin-top: 1em;
    width: 100%;
    height: 5em;
}

.AlertInfo {
    margin-top: 1em;
    text-align: center;
    width: 50%;
    margin-left: 1em;
    height: 2em;
    background-color: lightgreen;
    border-radius: 3px;
}

.AlertError {
    margin-top: 1em;
    text-align: center;
    width: 50%;
    margin-left: 1em;
    height: 2em;
    background-color: lightcoral;
    border-radius: 3px;
}

#ExecuteButton {
    height: 3em;
    background-color: green;
    border-radius: 5px;
}