<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dbixir</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%# <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="BodyStyle">
    <div class="MainContainer">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills">
            <li class="NavItem">
              <a class="NavItemLink" href="/">Home</a>
            </li>
            <li class="NavItem">
              <a class="NavItemLink" href="/new">Connect</a>
            </li>
            <li class="NavItem">
              <a class="NavItemLink" href="/disconnect">Disconnect</a>
            </li>
            <li class="NavItem">
              <a class="NavItemLink" href="/tables">Tables</a>
            </li>
            <li class="NavItem">
              <a class="NavItemLink" href="/query">Query builder</a>
            </li>
          </ul>
        </nav>
      </header>

      <%# <div class="nav-side-menu">
          <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
              <div class="menu-list">
                  <ul id="menu-content" class="menu-content collapse out">
                      <li><a class="NavItemLink" href="/">Home</li>
                      <li data-toggle="collapse" data-target="#tables" class="collapsed active">
                        <a href="#">
                          <i class="fa fa-lg"></i>Tables
                          <span class="arrow"></span>
                        </a>
                      </li>
                      <ul class="sub-menu collapse" id="tables">
                          <li>General</li>
                          <li>Buttons</li>
                          <li>Tabs</li>
                          <li>Typography</li>
                      </ul>
                      <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a href="#">Connections</a>
                      </li>  
                        <ul class="sub-menu collapse" id="service">
                          <li>Connection 1</li>
                          <li>Connection 2</li>
                          <li><a class="NavItemLink" href="/new">New connection</a></li>
                          <li><a class="NavItemLink" href="/disconnect">Disconnect</a></li>
                        </ul>
                      <li><a class="NavItemLink" href="/query">Query builder</li>
                  </ul>
          </div>
      </div> %>


      <%= if get_flash(@conn, :info) do %>
        <p class="AlertInfo" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="AlertError" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
