<div class="PageContainer">
    <p class="AppName">
      Dbixir.
    </p>
    <span class="HomePageWelcomeText">
      Application which allows you to connect to your db, shows your data, make queries.<br />
      Please enjoy.
    </span>
</div>
