<div class="inner cover" style="margin: 0 0 10px;">
    <h1 class="cover-heading">
      Dbixir.
    </h1>
    <p class="lead">
      Application which allows you to connect to your db, shows your data, make queries.<br />
      Please enjoy.
    </p>
</div>
