<div class="PageContainer">
  <%= if @result != [] do %>
    <table>
      <tbody>
        <tr>
          <td class="ColumnHeaderCell">Database table list</td>
        </tr>
        <%= for row <- @result do %>
          <tr>
            <td class="ColumnBodyCell"><%= row %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
